server:
  port: 8001
  servlet:
    context-path: /be-tms/api
spring:
  application:
    name: be-tms
  rabbitmq:
    host: 103.188.83.162
    port: 5672
    username: thientdk
    password: Qwertyu1@
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://103.188.83.162:5432/tms_be
    username: thientdk
    password: Qwertyu1@
    hikari:
      connection-timeout: 60000
      maximum-pool-size: 25
      minimum-idle: 5
      idle-timeout: 600000
      max-lifetime: 1800000
      schema: public
  jpa:
    generate-ddl: false
    hibernate.ddl-auto: none
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc.batch_size: 1000
        order_inserts: true
        default_schema: public
grpc:
  client:
    user-service:
      address: static://localhost:6500
      negotiation-type: plaintext
    inventory-service:
      address: static://localhost:6501
      negotiation-type: plaintext
    wallet-service:
      address: static://localhost:6502
      negotiation-type: plaintext
    order-service:
      address: static://localhost:6503
      negotiation-type: plaintext
  server:
    port: 6504

